body {
    box-sizing: border-box;
    margin: 0
}

html {
    scroll-behavior: smooth
}

.nav-buttons {
    background-color: #e9ebdf;
    display: flex;
    justify-content: center;
    gap: 20px
}

.nav-buttons button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 80px;
    height: 40px;
    margin-top: 10px;
    font-family: "josefin slab";
    opacity: 90%;
    cursor: pointer;
    color: #000
}

.nav-buttons p {
    font-size: 1rem
}

.nav-buttons p:hover {
    text-shadow: 1px 1px 2px #000;
    text-decoration: underline
}

.start-section {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3) 40%), url("../staff-flower.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover
}

.start-section ul {
    position: relative;
    top: 200px;
    padding: 0;
    opacity: 90%
}

.start-section ul .heading {
    font-family: "style script";
    letter-spacing: 3px;
    font-size: 2.5rem
}

.start-section ul li {
    display: block;
    text-decoration: none;
    font-family: "Josefin slab";
    font-weight: 700;
    text-align: center;
    padding: 15px
}

.start-section ul li a {
    text-decoration: none;
    color: #252b2b
}

.gallery-section {
    padding: 50px;
    padding-left: 50px
}

.gallery-section h2 {
    font-family: "style script";
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 20px
}

.gallery-section .flex-gallery-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 65px
}

.gallery-section .flex-gallery-section img {
    height: 150px;
    width: 150px;
    box-shadow: rgba(0, 0, 0, .25) 0px 54px 55px, rgba(0, 0, 0, .12) 0px -12px 30px, rgba(0, 0, 0, .12) 0px 4px 6px, rgba(0, 0, 0, .17) 0px 12px 13px, rgba(0, 0, 0, .09) 0px -3px 5px
}

.process-section {
    padding: 30px;
    display: flex;
    flex-direction: column
}

.process-section h2 {
    font-family: "style script";
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 20px
}

.process-section p {
    text-align: center;
    padding-right: 15px;
    padding-bottom: 30px
}

.process-section .flex-process-section {
    display: flex;
    flex-wrap: wrap;
    padding-left: 35px
}

.process-section .flex-process-section img {
    box-shadow: rgba(0, 0, 0, .25) 0px 54px 55px, rgba(0, 0, 0, .12) 0px -12px 30px, rgba(0, 0, 0, .12) 0px 4px 6px, rgba(0, 0, 0, .17) 0px 12px 13px, rgba(0, 0, 0, .09) 0px -3px 5px;
    width: 150px;
    height: 150px
}

.process-section .flex-process-section .fade {
    animation-name: fade;
    animation-duration: 2s
}

@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 1
    }
}

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 100px;
    font-family: "josefin slab";
    padding-bottom: 100px
}

.contact-section .contact-info {
    display: flex;
    padding-bottom: 100px
}

.contact-section .contact-info h4 {
    font-size: 2rem;
    padding-bottom: 10px
}

.contact-section .contact-info ul {
    padding: 0
}

.contact-section .contact-info ul li {
    list-style: none;
    line-height: 25px
}

.contact-section .contact-info ul li a {
    color: #000;
    text-decoration: none
}

.contact-section .contact-info ul li a:hover:hover {
    text-shadow: 1px 1px 2px #000;
    text-decoration: underline
}

.contact-section .contact-info .social-media-icon {
    font-size: 3.5rem;
    padding-left: 60px;
    padding-top: 30px;
    color: #000
}

.contact-section .contact-info .social-media-icon:hover {
    text-shadow: 1px 1px 2px #000
}

.contact-section .form-message {
    display: flex;
    flex-direction: column
}

.contact-section .form-message input {
    height: 40px;
    margin-bottom: 15px;
    font-family: "josefin slab";
    border: none;
    background-color: #e9ebdf
}

.contact-section .form-message input:hover {
    background-color: #bdc0b0
}

.contact-section .form-message input:focus {
    outline: #bdc0b0
}

.contact-section .form-message textarea {
    font-family: "josefin slab";
    background-color: #e9ebdf;
    border: none;
    padding: 5px;
    margin-bottom: 15px
}

.contact-section .form-message textarea:hover {
    background-color: #bdc0b0
}

.contact-section .form-message textarea:focus {
    outline: #bdc0b0
}

.contact-section .form-message button {
    border: none;
    background-color: #e9ebdf;
    cursor: pointer;
    font-family: "josefin slab";
    height: 40px
}

.contact-section .form-message button:hover {
    background-color: #bdc0b0
}

.contact-section .form-message .error-message {
    font-family: "josefin slab"
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.none {
    display: none
}

.block {
    display: block
}

@media screen and (min-width: 768px) {
    main ul .heading {
        font-size: 4em
    }

    .about-me .about-me-container p,
    .about-me .process-container p {
        width: 70%;
        margin-top: 30px
    }

    .gallery {
        width: 80%
    }

    .process-section {
        flex-direction: column;
        padding-left: 100px;
        padding-right: 100px
    }

    .process-section .flex-process-section {
        padding-left: 100px;
        padding-top: 50px
    }
}

@media screen and (min-width: 1280px) {
    section {
        height: auto
    }

    section .about-me {
        width: 60%
    }

    .process-section {
        flex-direction: column;
        padding-left: 100px;
        padding-right: 100px
    }

    .process-section .flex-process-section {
        padding-left: 200px;
        padding-top: 50px
    }
}